# 1. ملفات البيئة السرية ومفاتيح الربط
.env

# 2. ملفات وسجلات نظام التشغيل
node_modules/
.DS_Store
Thumbs.db

# 3. استبعاد ملفات وجداول البيانات الحساسة أو التشغيلية (مثل ملفات الشحن والتقارير)
*shipping*
*.csv
*.xlsx